.NavContainer{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
   
}


.NavPicture{
height: 59px;
width: 250px;
left: 10px;
top: 50px;
border-radius: 0px;
padding-left: 20px;
width: 250px;
height: 59px;
left: 40px;
top: 50px;
    img{
        width: 100%;
        height: 100%;
    }
}
.Barras{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.BarrasStyle{
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  padding:10px;
}
.eq-bar {
    transform: scale(1, -1) translate(0, -22px);
  }
  
  .eq-bar--1 {
    animation-name: short-eq;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
  }
  
  .eq-bar--1 {
    animation-name: short-eq;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
  }
  
  .eq-bar--2 {
    animation-name: tall-eq;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-delay: 0.17s;
  }
  
  .eq-bar--3 {
    animation-name: short-eq;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-delay: 0.34s;
  }
  
  @keyframes short-eq {
    0% {
      height: 6px
    }
  
    50% {
      height: 16px
    }
  
    100% {
      height: 6px
    }
  }
  
  @keyframes tall-eq {
    0% {
      height: 16px
    }
  
    50% {
      height: 6px
    }
  
    100% {
      height: 16px
    }
  }
.ListLibreria , .ListPlaylist{
    h1{
        font-family: Quicksand;
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 40px;
        color: #514d4d;


    }
    ul{
        list-style: none;
        padding: 0;
        width: 500px;

        li{
            text-align: left;
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #514d4d;
            height: 20px;
            margin: 5px;
            margin-left: 0px;
            
            border-style: solid;
            border-width: 0px;
            border-left-width: 3px;
            border-color:#662323;;
            padding-left: 37px;

        }
        li:hover{
            cursor: pointer;
            color: #E86060;
            border-left-width: 3px;
            border-left-color: #E86060;
        }
    }
}

