.FooterContainer{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin: 0px;
    
   
}
.FooterReproductor{
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 100%;
}
.FooterSong{
    width: 370px;
    height: 100%;
    display: flex;
}
.FooterSongImage{

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100px;
    height:100%;
    background-color: beige;
}
.FooterSongText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
    height: 100%;
    h3{
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        text-align: start;
        /* identical to box height */
        
        
        color: #4F4F4F;
        margin:0px  
      }
    p{
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        text-align: start;
        
        color: #4F4F4F;
        margin: 0px;
        
    }
}
.FooterSongIcons{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
    width: 170px;
    margin-right: 150px;
}
.FooterSongAtrasIcon{
    display: flex;
    color: #2e2e2e;


}
.FooterSongPlayIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;

    padding: 20px;
    border-radius: 100%;
    :hover{
        background-color: #8f8f8f;
            
    }
    
}
.FooterSongPausedIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
    padding: 10px;
    border-radius: 100%;
    
    
}
.FooterSongAdelanteIcon{
    display: flex;
    color: #2e2e2e;
    
}
.FaPlay3{

font-size:18px ;
margin-left: 3px;
color: #2a2a2a;


}
.FaPlay4{

    font-size:40px ;
    padding: 0px;
    color: #2e2e2e;

    
    
    }
.FooterSongPlayIcon:hover{
    cursor: pointer;
}
.AtrasIcon , .AdelanteIcon{
    font-size: 40px;
    :hover{
        cursor: pointer;
    }
}
.FooterSongVolumen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}
.FooterSongVolumenInput{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

    :hover{
        cursor: pointer;
        background-color: #282828;
    transition: 1s;

        
    }
    input{
        width: 100px;
        color: blanchedalmond;
        background-color: #ffffff;
        height: 4px;
        -webkit-appearance: none;
    transition: 1s;

        
    }
    input::-webkit-slider-thumb {
        -webkit-appearance: none;

        background-color:  #2e2e2e;

        width: 12px;
        color: #ffffff;
        height: 12px;
        border: 0px solid rgb(97, 18, 18);
        border-radius: 50%;
       
      }


    
}
.FooterSongReproduccionInput{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    z-index: 0;
    align-items:flex-start;
    height: 5px;
    margin-top:-5px;
    margin-left: -0px;
    margin-right: -0px;
    transition: 2s;
    :hover{
        cursor: pointer;
        background-color: #ababab;
    transition: 1s;

        
    }
    input{
        width: 100%;
        color: blanchedalmond;
        background-color: #e2e2e2;
    transition: 1s;

        height: 5px;
        -webkit-appearance: none;
      
    }
    input::-webkit-slider-thumb {
        -webkit-appearance: none;

        background-color:  #2e2e2e;
        width: 15px;
        color:  #2e2e2e;;
        height: 15px;
        border: 0px solid rgb(97, 18, 18);
        border-radius: 50%;
        margin-left: -5px;
      }


    
}
.FooterSongVolumenIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 35px;
}
.Volumen{
    font-size: 30px;
    color: rgb(255, 255, 255);
    :hover{
        cursor: pointer;
    }
}
@media (max-width: 700px) {
    .FooterSongIcons{
        display: flex;
        justify-content:space-between;
        align-items: center;
        height: 100%;
        width: 10px;
        margin-right: 150px;
    }
    .FooterSongVolumenIcon{
        display: none;
    }
    .FooterSongText{
        h3{
            font-size: 12px;
        }
    }
    .FooterSong{
        width: 200px;
    }
    .FooterSongVolumen{
        width: 150px;
        display: flex;
        justify-content: center;
    }
    




}